$primary-color: black;
$secondary-color: #7698e2;
$primary-button-color: #4770c7;
$grey: rgb(215, 215, 215);
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}
input {
    box-sizing: border-box;
    line-height: 2.5em;
    background: #f8f8f8;
    border-radius: 7px;
    padding: 0 20px;
    font-size: 1em;
    color: #666;
    transition: all .2s ease;
    outline: none;
    margin: 0.5em 0 1em;
    border: 2px solid $grey;
    width: 100%;
    &:focus {
        border: 2px solid $secondary-color;
        box-shadow: 0 0 5px $secondary-color;
    }
}
label {
    display: inline-block;
    color: #666;
    font-size: 0.85em;
    font-weight: 700;
    width: fit-content;
}
button[type=submit] {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 6px 20px;
    font-weight: 700;
    line-height: 2;
    vertical-align: middle;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    width: fit-content;
    -webkit-box-align: center;
    -moz-box-align: center;
    border: 0;
    outline: 0;
    background-color: $primary-button-color;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.2);

}
.hr-app {
    margin: 0 auto 100px;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__create-form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;
        fieldset {
            display: flex;
            flex-direction: column;
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #cdcdcd;
            font-weight: 700;
            margin: 20px 0;
            background-color: #f5f5f5;
            legend {
                color: #b7b7b7;
            }
            input {
                background-color: white;
            }
        }
    }
}